/about-us
/admin
/bootstrap
/comments
/contact-2
/database
/feed
/fonts
/fonts.googleapis.com
/https
/images
/js
/kyc
/plugins
/privacy-policy-2
/signup
/uploads
/vendor
/wp-content
/wp-includes
/wp-json